

body {
    text-align: center;
}

h1 {
    font-family: 'Mountains of Christmas', cursive;
    font-size: 8em;
    padding: 30px;
}

.gameBox {
    display: inline-block;
    width: 600px;
    height: 400px;
    background-color: red;
    text-align: left;
}

/* the box/div images for the gallows will be 350px wide 300 px tall */
.gallowsBox {
    position: relative;
    display: inline-block;
    top: 20px;
    left: 20px;
    width: 350px;
    height: 300px;
    background-color: white;
}
.scoreBox {
    position: relative;
    background-color: teal;
    width: 100px;
    height: 300px;
    float: right;
}

.scoreBoard {
    position: relative;
    /* display: inline-block; */
    background-color: rebeccapurple;
    float: right;
    top: 0px;
    right: 0px;
}

.badLetters {
    position: absolute;
    float: right;
    top: 0px;
    right: 0px;
    width: 120px;
    height: 60px;
    background-color:blue;
}

.wordDisplay {
    position: relative;
    float: center;
    background-color: green;

}